<?xml version="1.0" ?>
<launch>
    <node name="publish_pose_EE" pkg="robot_fetch_me_a_beer" type="publish_pose_from_tf.py" required="true" output="screen">
        <param name="base_frame" value="base_footprint" />
        <param name="pose_frame" value="arm_right_tool_link" />
    </node>

    <node name="publish_pose_grasp" pkg="robot_fetch_me_a_beer" type="publish_pose_from_tf.py" required="true" output="screen">
        <param name="base_frame" value="base_footprint" />
        <param name="pose_frame" value="gripper_right_grasping_frame" />
    </node>

    <node pkg="rosbag" type="record" name="rosbag_record" required="true"
        args="record -o $(find robot_fetch_me_a_beer)/data/
        /gazebo/model_states
        /arm_right_tool_link_pose
        /gripper_right_grasping_frame_pose
        /parallel_gripper_right/is_grasped
        /table_camera/image_raw/compressed
        /xtion/rgb/image_raw2
        /xtion/rgb/image_raw
        " />
</launch>
